<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title Goes Here</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <body>
    <header>
      <h1>Off the Vine</h1>
    </header>
    <p>Off the Vine is a boutique winery featuring handcrafted, award-winning wines served in an old world setting. Stop by and spend a little time in our cozy cantina! Try our wonderful food items, paired with your favorite Off the Vine wine and enjoy our inviting atmosphere. Ask any of our wine servers about the wines, upcoming events, or new wine releases. We will be waiting to assist you and make your visit to Off the Vine special.
With a large group or bus tour? We take pride in making your visit to Off the Vine a personalized experience. So that we may spend an appropriate amount of time assisting each and every one of our valued customers, we ask that you please call ahead to ensure we have the staff and seating available to accommodate all of your guests.
</p>
    <footer>
      Stay in touch with all the latest happenings- Join our social network!
Facebook, Twitter, Instagram
    </footer>
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
  </body>
</html>
