<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Off the Vine</title>
    <meta name="description" content="Off the Vine Winery and Dining Experience">
  </head>

<header>
<img id="mobile-logo" src= "images/off-the-vine.svg">
<!-- This is your navigation menu trigger.  It only shows for small screens.  You can style it any way you want, including as a hamburger menu.-->
<!-- This includes hamburger code from Erik Terwan: http://codepen.io/terwanerik/pen/EVzeRP -->
<a href="#menu" class="menu-link">
    <div class="menu-link__hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="menu-link__label"></div>
</a>

<nav id="menu" role="navigation">
            <ul>
                <li><a href="index1.html">home</a></li>
                <li><a href="#">our story</a></li>
                <li><a href="#">events</a></li>
                <li><a href="#"><img id="logo-nav" src="images/off-the-vine-02.png"></a></li>
                <li><a href="menu1.html">menu</a></li>
                <li><a href="#">contact</a></li>
                <li><a href="#"> cart</a></li>

            </ul>
</nav>
</header>



<!--start photo-->
<main>
    <!--start photo-->
    <div style="text-align: center">
        <div class="textoverlay">

            <img class="main" src="images/events-hero-image.jpeg" alt="Wine Glasses">
            <div class="mainphototext">

            </div>
        </div>
    </div>

  <!--end photo-->

  <body>
    <h3>YOUR NEW THURSDAY NIGHT TRADITION.</h3>

    <img class="wine-tasting" src="images/mainphoto_3.jpg" alt="wine being poured" />


  <div class="headings">
  <h1>Private Occasions & Large Groups</h1>
</div>

  <p><span class="first-sentence">Our Winery and Private Party Rooms are available to cater your Special Occasion, Rehearsal Dinner, Meeting, Birthday Party and more!</span> Room capacities can be found in the left-hand column of this page.
To inquire, contact the winery at 440-415-0661 for more information.</p><br>
<p>Stop by and spend a little time in our cozy cantina! Try our wonderful food items, paired with your favorite Off the Vine wine and enjoy our inviting atmosphere. Ask any of our wine servers about the wines, upcoming events, or new wine releases. We will be waiting to assist you and make your visit to Off the Vine special.
With a large group or bus tour? We take pride in making your visit to Off the Vine a personalized experience. So that we may spend an appropriate amount of time assisting each and every one of our valued customers, we ask that you please call ahead to ensure we have the staff and seating available to accommodate all of your guests.
</p>
</section>


<!--start packages-->
<div class="headings">
<h1>Package 1: Lunch and wine tasting</h1>
</div>
<ul>Homemade cheese pizza (2 slices per person) and side salad.</ul>
<ul>Three 1/oz. pours of wine and brief presentation.</ul>
<ul>$10.50/person, plus tax and 18% gratuity</ul>
<div class="headings">
<h1>Package 2: Tasting and brief presentation</h1>
</div>
<ul>Three 1/oz. pours, brief presentation and crackers and water to cleanse palette.</ul>
<ul>$5.00/person, plus tax and 18% gratuity</ul>
<p>Please note: This is a prearranged visit to Laurello's. If at the time of arrival, the management finds the tour group to be already intoxicated, we reserve the right to deny the group entry into our winery.
</p>
</section>
<!--end packages-->

<!--start schedule-->
<section class="schedule">
<h1> Entertainment Schedule </h1>
<p>Entertainment begins Fridays & Saturdays at 7pm; Sundays at 2pm.
</p>
<ul>Friday, Sept. 4: Cold Shot Band</ul>
<ul>Saturday, Sept. 5: Light of Day Band </ul>
<ul>Sunday, Sept. 6: Matt Aurigema </ul>
<ul>Friday, Spet. 11: David Young  </ul>
<ul>Saturday, Sept. 12: Don Perry Duo </ul>
<ul>Friday, Sept. 18: Steve Howell  </ul>
<ul>Saturday, Sept. 19: Take II </ul>
<ul>Friday, Sept. 25: Valerie Marini  </ul>
<ul>Saturday, Sept. 26: Uncharted Course </ul>
</section>
<!--end schedule-->

<!--start footer-->


<!--end footer-->

<footer>

<div class="logo-footer"><img src="images/off-the-vine-footer.png"></div>

<div class="hours">

          <ul>
              <li> Hours</li>
              <li> Wednesday: Noon-4:00pm</li>
              <li> Thursday: Noon-8:00pm </li>
              <li> Friday: Noon-10:00pm</li>
              <li> Saturday: Noon-10:00pm</li>
              <li>Sunday: Noon-5:00pm</li>
          </ul>


      </div>


<div class="contact">

  <ul>
      <li> Off The Vine Winery</li>
      <li> 1700 55th Street NE</li>
      <li> Canton, OH 44721 </li>
      <li> 330.669.0868</li>
      <li> Saturday: Noon-10:00pm</li>
      <li>Sunday: Noon-5:00pm</li>
  </ul>
  </div>

  </footer>

<!--end footer-->
      <link href="events1.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <script src="https://use.typekit.net/nkp5vto.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>

<script src="index1.js"></script>
  </body>
</html>
