<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Off the Vine</title>
    <meta name="description" content="Off the Vine Winery and Dining Experience">
    <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
    </style>
  </head>

<header>
<img id="mobile-logo" src= "images/Logo-Red.png">
<!-- This is your navigation menu trigger.  It only shows for small screens.  You can style it any way you want, including as a hamburger menu.-->
<!-- This includes hamburger code from Erik Terwan: http://codepen.io/terwanerik/pen/EVzeRP -->
<a href="#menu" class="menu-link">
    <div class="menu-link__hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="menu-link__label"></div>
</a>

<nav id="menu" role="navigation">
            <ul>
<li id="logo-list"><a href="#"><img id="logo-nav" src="images/off-the-vine-02.png"></a></li>
                <li><a href="index1.html">home</a></li>
                <li><a href="">our story</a></li>
                <li><a href="events1.html">events</a></li>
                <li><a href="menu1.html">menu</a></li>
                <li><a href="#">contact</a></li>
                <li><a href="#"> cart</a></li>

            </ul>
</nav>
</header>



<!--start photo-->
<main>
    <!--start photo-->
    <img class="main" src="images/mainphoto_1.1.jpg" alt="Wine Glasses">


    <!--end photo-->

    <!--start main content-->

    <body>
        <h3>FEEL FREE TO WINE HERE</h3>
        <hr>
        <div class="paragraph">
        <p><span class="first-sentence">Off the Vine is a boutique winery featuring handcrafted, award-winning wines served in an old world setting. </span> Stop by and spend a little time in our cozy cantina! Try our wonderful food items, paired with
            your favorite Off the Vine wine and enjoy our inviting atmosphere. Ask any of our wine servers about the wines, upcoming events, or new wine releases. We will be waiting to assist you and make your visit to Off the Vine special.
        </p>
      </div>

        <!--start wine tasting photo-->

      <img class="wine-tasting" src="images/wine-tasting.jpg" alt="wine being poured" />

        <!--end photo-->

        <hr>
      <div class="paragraph">
        <p class="paragraph2">With a large group or bus tour? We take pride in making your visit to Off the Vine a personalized experience. So that we may spend an appropriate amount of time assisting each and every one of our valued customers, we ask that you please call
            ahead to ensure we have the staff and seating available to accommodate all of your guests.
        </p>
      </div>


        <!--start photo-->
        <img class="wine-tasting" src="images/vineyard-tour.jpg" alt="wine being poured" />


  <h3>WINES of the WEEK</h3>
  <hr>
  <section class="wine-of-the-week">
        <div class="WOTW1">
            <img src="templates/images/wine-of-the-wine.jpg">

            <ul>
                <li>Cabernet Franc 2013 (Grand River Valley)</li>
                <li>$24.99</li>
                <br>
                <li>Bold cherry and raspberry flavors mingle with spicy black pepper notes and balanced amount of French Oak. This wine was aged in half new and half used French Oak for ten months.</li>
            </ul>

        </div>

        <div class="WOTW2">
            <img src="templates/images/wine-of-the-wine2.jpg">

            <ul>
                <li>Riesling Off-Dry 2013 (Grand River Valley)</li>
                <li>$16.99</li>
                <br>
                <li>Snappy crisp aromas of green apple and juicy pear. Soft flavors of white peach and zesty lemon-lime with a firm acid backbone. A long finish with only the slightest hint of sweetness.

</li>
            </ul>

        </div>

        <div class="WOTW3">
            <img src="templates/images/wine-of-the-wine3.jpg">

            <ul>
                <li>Simply Mad Habanero Ice Wine</li>
                <li>$34.99</li>
                <br>
                <li>Made from our Vidal Ice Wine and infused with Habanero peppers…just enough to finish with a KICK!</li>
            </ul>

        </div>
</section>
        <!--end photo-->


    </body>
</main>
<!--end main content-->
<!--end main content-->

<!--start footer-->
<footer>

<div class="logo-footer"><img src="images/off-the-vine-footer.png"></div>


<div class="hours">

          <ul>
              <li> <h5> Hours <h5> </li>
              <br>
              <li> Wednesday: Noon-4:00pm</li>
              <li> Thursday: Noon-8:00pm </li>
              <li> Friday: Noon-10:00pm</li>
              <li> Saturday: Noon-10:00pm</li>
              <li>Sunday: Noon-5:00pm</li>
          </ul>


      </div>


<div class="contact">

  <ul>
      <li><h5> Off The Vine Winery <h5></li>
      <br>
      <li> 1700 55th Street NE</li>
      <li> Canton, OH 44721 </li>
      <li> 330.669.0868</li>
      <br>

  </ul>
  </div>

  </footer>

<!--end footer-->
      <link href="index1 style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <script src="https://use.typekit.net/nkp5vto.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>

<script src="index1.js"></script>
  </body>
</html>
