<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Off the Vine</title>
    <meta name="description" content="Off the Vine Winery and Dining Experience">
  </head>

<header>
<img id="mobile-logo" src= "images/off-the-vine.svg">
<!-- This is your navigation menu trigger.  It only shows for small screens.  You can style it any way you want, including as a hamburger menu.-->
<!-- This includes hamburger code from Erik Terwan: http://codepen.io/terwanerik/pen/EVzeRP -->
<a href="#menu" class="menu-link">
    <div class="menu-link__hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="menu-link__label"></div>
</a>

<nav id="menu" role="navigation">
            <ul>
                <li><a href="index1.html">home</a></li>
                <li><a href="#">our story</a></li>
                <li><a href="#">events</a></li>
                <li><a href="#"><img id="logo-nav" src="images/off-the-vine-02.png"></a></li>
                <li><a href="menu1.html">menu</a></li>
                <li><a href="#">contact</a></li>
                <li><a href="#"> cart</a></li>

            </ul>
</nav>
</header>



<!--start photo-->
<main>
    <!--start photo-->
    <div style="text-align: center">
        <div class="textoverlay">

            <img class="main" src="images/mainphoto_2.jpg" alt="Wine Glasses">
            <div class="mainphototext">

            </div>
        </div>
    </div>

    <!--end photo-->

    <!--start main content-->

    <body>
        <h3>FEEL FREE TO WINE HERE</h3>
        <hr>
        <div class="paragraph">
        <p><span class="first-sentence">Off the Vine is a boutique winery featuring handcrafted, award-winning wines served in an old world setting. </span> Stop by and spend a little time in our cozy cantina! Try our wonderful food items, paired with
            your favorite Off the Vine wine and enjoy our inviting atmosphere. Ask any of our wine servers about the wines, upcoming events, or new wine releases. We will be waiting to assist you and make your visit to Off the Vine special.
        </p>
      </div>

        <!--start wine tasting photo-->
        <div class="wine-tasting-section">
            <img class="wine-tasting" src="images/wine-tasting.jpg" alt="wine being poured" />

        </div>

        <!--end photo-->

        <hr>
      <div class="paragraph">
        <p class="paragraph2">With a large group or bus tour? We take pride in making your visit to Off the Vine a personalized experience. So that we may spend an appropriate amount of time assisting each and every one of our valued customers, we ask that you please call
            ahead to ensure we have the staff and seating available to accommodate all of your guests.
        </p>
      </div>


        <!--start photo-->
        <div class="vineyard-tour-section">
            <img class="vineyard-tour" src="images/vineyard-tour.jpeg" alt="two wine glasses">
</div>

  <h3>WINES <span id="of-the">of the</span> WEEK</h3>
  <hr>

        <!--end photo-->


    </body>
</main>
<!--end main content-->
<!--end main content-->

<!--start footer-->
<footer>

<div class="logo-footer"><img src="images/off-the-vine-footer.png"></div>

<div class="hours">

          <ul>
              <li> Hours</li>
              <li> Wednesday: Noon-4:00pm</li>
              <li> Thursday: Noon-8:00pm </li>
              <li> Friday: Noon-10:00pm</li>
              <li> Saturday: Noon-10:00pm</li>
              <li>Sunday: Noon-5:00pm</li>
          </ul>


      </div>


<div class="contact">

  <ul>
      <li> Off The Vine Winery</li>
      <li> 1700 55th Street NE</li>
      <li> Canton, OH 44721 </li>
      <li> 330.669.0868</li>
      <li> Saturday: Noon-10:00pm</li>
      <li>Sunday: Noon-5:00pm</li>
  </ul>
  </div>

  </footer>

<!--end footer-->
      <link href="index1 style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <script src="https://use.typekit.net/nkp5vto.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>

<script src="index1.js"></script>
  </body>
</html>
