<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Off the Vine</title>
    <meta name="description" content="Off the Vine Winery and Dining Experience">
  </head>

<header>
<img id="mobile-logo" src= "images/off-the-vine.svg">
<!-- This is your navigation menu trigger.  It only shows for small screens.  You can style it any way you want, including as a hamburger menu.-->
<!-- This includes hamburger code from Erik Terwan: http://codepen.io/terwanerik/pen/EVzeRP -->
<a href="#menu" class="menu-link">
    <div class="menu-link__hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="menu-link__label"></div>
</a>

<nav id="menu" role="navigation">
            <ul>
                <li><a href="index1.html">home</a></li>
                <li><a href="#">our story</a></li>
                <li><a href="#">events</a></li>
                <li><a href="#"><img id="logo-nav" src="images/off-the-vine-02.png"></a></li>
                <li><a href="menu1.html">menu</a></li>
                <li><a href="#">contact</a></li>
                <li><a href="#"> cart</a></li>

            </ul>
</nav>
</header>



<!--start photo-->
<main>
    <!--start photo-->
    <div style="text-align: center">
        <div class="textoverlay">

            <img class="main" src="images/mainphoto_4.jpg" alt="Wine Glasses">
            <div class="mainphototext">

            </div>
        </div>
    </div>

    <!--end photo-->

    <!--start main content-->

    <body>
      <h3>HOW BOUT SOME CHEESE WITH THAT WINE?</h3>

      <img class="wine-tasting" src="images/mainphoto_6.jpg" alt="wine being poured" />


<h2>FOOD MENU</h2>
      <hr>
      <div class="appetizers">

          <ul><span class="menu-items">Cheese Board:$12.25</span></ul>
          <ul><span class="menu-descriptions">Select cheeses, house-made cranberry-feta spread, fig preserves, Laurello's candied walnuts and crackers</span></ul>

          <ul><span class="menu-items">Antipasto Board:$12.25</span></ul>
          <ul><span class="menu-descriptions">Select cheeses, roasted red peppers, Kalamata and Greek olives, Margherita pepperoni and crackers</span></ul>


          <ul><span class="menu-items">Brie Cheese Plate:$10.25</span></ul>
          <ul><span class="menu-descriptions">Brie, with caramelized butter and brown sugar, topped with nuts and served with crackers</span></ul>


          <ul><span class="menu-items">Tomato Caprese Board:$9.25</span></ul>
          <ul><span class="menu-descriptions">Sliced tomatoes, fresh mozzarella, drizzled with basil pesto, olive oil, balsamic glaze and served with crispy crostini</span></ul>


          <ul><span class="menu-items">Bread tray:$7.50</span></ul>
          <ul><span class="menu-descriptions">Warm, crusty bread loaves with a dipping plate of olive oil, balsamic glaze and grated parmesan cheese</span></ul>


          <ul><span class="menu-items">Artichoke dip:$8.25</span></ul>
          <ul><span class="menu-descriptions">Homemade warm dip served with tortilla chips.</span></ul>


          <ul><span class="menu-items">Lucy's Eggplant Caponata:$8.95</span></ul>
          <ul><span class="menu-descriptions">(Seasonal) Authentic Italian recipe with eggplant, onions, green olives, celery, capers, golden raisins in a zesty tomato sauce served with crostini.</span></ul>


          <ul><span class="menu-items">Special Flatbread Appetizer:  $9.95</span ></ul>
      <ul><span class="menu-descriptions">Oven-fired flatbread with gourmet toppings selected weekly.</span></ul>
  </div>

        <!--start wine tasting photo-->
        <div class="wine-tasting-section">
            <img class="wine-tasting" src="images/mainphoto_8.jpg" alt="wine being poured" />

        </div>

        <!--end photo-->

        <h2>WINE MENU</h2>
        <hr>
        <div class="menu-heading">
            <h5>The Reds</h5>
        </div>
        <div class="appetizers">

            <ul><span class="menu-items">Chambourcin 2013: $14.99</span></ul>
            <ul><span class="menu-descriptions">Has been 9 years since we have bottled this hybrid. Best we have ever produced. Nice white pepper notes in the nose and the finish with mid black cherry undertones.
</span></ul>

            <ul><span class="menu-items">Cabernet Franc 2013: $24.99</span></ul>
            <ul><span class="menu-descriptions">Bold cherry and raspberry flavors mingle with spicy black pepper notes and balanced amount of French Oak. This wine was aged in half new and half used French Oak for ten months.</span></ul>


            <ul><span class="menu-items">Cosmo (American): $19.99 </span></ul>
            <ul><span class="menu-descriptions">Brie, with caramelized butter and brown sugar, topped with nuts and served with crackers</span></ul>


            <ul><span class="menu-items">Rodavi (American): $19.99</span></ul>
            <ul><span class="menu-descriptions">Intense flavors of raspberries and black currant are supported by firm tannins and toasty oak. Deeply satisfying. Merlot 50%, Cabernet Franc 50%</span></ul>


            <ul><span class="menu-items">Pinot Noir 2012 : $29.99</span></ul>
            <ul><span class="menu-descriptions">Seductive aromas of spring strawberry and black tea. Notes of red licorice and tobacco leaf in the mouth. Delicate, with escalating mouth feel and texture and good tannin structure. Long finish of earth and strawberry preserves.</span></ul>


            <ul><span class="menu-items">CASK 2014: $29.99</span></ul>
            <ul><span class="menu-descriptions">Aged in French Oak. This continual red blend of Cabernet Franc and Cabernet Sauvignon has bold, black cherry and currant flavors with a hint of black pepper notes. Nice tannin structure will allow this wine to age beautifully.</span></ul>


            <ul><span class="menu-items">Cabernet Sauvignon 2012: $34.99</span></ul>
            <ul><span class="menu-descriptions">Aged in French Oak. Aromas and flavor of ripe black current and plum. This rich, full-bodied wine is well structured and will age nicely.</span></ul>


            <ul><span class="menu-items">Naso Rosso: $9.99</span ></ul>
            <ul><span class="menu-descriptions">Luscious and grapey, rich and structured at the same time. Concord + Cabernet Franc</span></ul>


        </div>

        <div class="menu-heading">
            <h5>The Whites</h5>
        </div>
        <div class="appetizers">

            <ul><span class="menu-items">Josephine 2012: $16.99</span></ul>
            <ul><span class="menu-descriptions">Luscious aroma of Key Lime zest. Flavors of crushed red apple and mandarin. Lively and enjoyable acid-tartness and a round, persistent finish-with snap! Viognier 50%, Chardonnay 50%
</span></ul>

            <ul><span class="menu-items">Pinot Grigio 2013: $16.99</span></ul>
            <ul><span class="menu-descriptions">Bold cherry and raspberry flavors mingle with spicy black pepper notes and balanced amount of French Oak. This wine was aged in half new and half used French Oak for ten months.</span></ul>


            <ul><span class="menu-items">Riesling Off-Dry 2013: $19.99 </span></ul>
            <ul><span class="menu-descriptions">Brie, with caramelized butter and brown sugar, topped with nuts and served with crackers</span></ul>


            <ul><span class="menu-items">Illuminata 2013: $16.99</span></ul>
            <ul><span class="menu-descriptions">Intense flavors of raspberries and black currant are supported by firm tannins and toasty oak. Deeply satisfying. Merlot 50%, Cabernet Franc 50%</span></ul>


            <ul><span class="menu-items">Connie's Blush: $9.99</span></ul>
            <ul><span class="menu-descriptions">Seductive aromas of spring strawberry and black tea. Notes of red licorice and tobacco leaf in the mouth. Delicate, with escalating mouth feel and texture and good tannin structure. Long finish of earth and strawberry preserves.</span></ul>


            <ul><span class="menu-items">Naso Bianco: $9.99</span></ul>
            <ul><span class="menu-descriptions">A floral and slightly honeyed nose. Flavors of lemonade and ripe apple. Vidal + Niagara + Riesling
</span></ul>





        </div>



        <!--start photo-->
        <div class="vineyard-tour-section">
            <img class="vineyard-tour" src="images/events.jpg" alt="two wine glasses">
</div>


        <!--end photo-->


    </body>
</main>
<!--end main content-->
<!--end main content-->

<!--start footer-->
<footer>

<div class="logo-footer"><img src="images/off-the-vine-footer.png"></div>

<div class="hours">

          <ul>
              <li> Hours</li>
              <li> Wednesday: Noon-4:00pm</li>
              <li> Thursday: Noon-8:00pm </li>
              <li> Friday: Noon-10:00pm</li>
              <li> Saturday: Noon-10:00pm</li>
              <li>Sunday: Noon-5:00pm</li>
          </ul>


      </div>


<div class="contact">

  <ul>
      <li> Off The Vine Winery</li>
      <li> 1700 55th Street NE</li>
      <li> Canton, OH 44721 </li>
      <li> 330.669.0868</li>
      <li> Saturday: Noon-10:00pm</li>
      <li>Sunday: Noon-5:00pm</li>
  </ul>
  </div>

  </footer>

<!--end footer-->
      <link href="menu1.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <script src="https://use.typekit.net/nkp5vto.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>

<script src="index1.js"></script>
  </body>
</html>
