<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Off the Vine</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <body>

<!--start header-->
<div id="header">
      <header>
        <img src="http://rwdkent.com/class/groups/assets/group5/off-the-vine.svg" alt="Off the Vine"/>
    </header>
  </div>
  <!--end header-->
<!--start navigation-->
    <nav>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Events</li>
        <li>Menu</li>
        <li>Shop</li>
      </ul>
    </nav>
<!--end navigation-->

<!--start photo-->
    <div class="mainphoto">
      <img src="images/mainphoto_4.jpg" width="400" height="200">
    </img>
  </div>
  <!--photo-->

<!--start menu-->
<section class="appetizers">
  <h2>Food Menu</h2>

  <h1>Appetizers</h1>

  <p>
    <ul>Cheese Board:$12.25</ul>
  <ul>select cheeses, house-made cranberry-feta spread, fig preserves, Laurello's candied walnuts and crackers</ul>

  <ul>Antipasto Board:$12.25</ul>
  <ul>select cheeses, roasted red peppers, Kalamata and Greek olives, Margherita pepperoni and crackers</ul>


  <ul>Brie Cheese Plate:$10.25</ul>
  <ul>Brie, with caramelized butter and brown sugar, topped with nuts and served with crackers</ul>


  <ul>Tomato Caprese Board:$9.25</ul>
  <ul>Sliced tomatoes, fresh mozzarella, drizzled with basil pesto, olive oil, balsamic glaze and served with crispy crostini</ul>


  <ul>Bread tray:$7.50</ul>
  <ul>Warm, crusty bread loaves with a dipping plate of olive oil, balsamic glaze and grated parmesan cheese</ul>


  <ul>Artichoke dip:$8.25</ul>
  <ul>Homemade warm dip served with tortilla chips.</ul>


  <ul>Lucy's Eggplant Caponata:$8.95</ul>
  <ul>(Seasonal) Authentic Italian recipe with eggplant, onions, green olives, celery, capers, golden raisins in a zesty tomato sauce served with crostini.</ul>


  <ul>Special Flatbread Appetizer:  $9.95</ul>
<ul>Oven-fired flatbread with gourmet toppings selected weekly.</ul>
</p>

</section>
<!--end menu-->


<!--start footer-->
    <footer>
  <center>  <ul>Off the Vine Winery: Hours of Operations
      <ul> Main Season:</ul>
      <ul>  Wednesday: Noon-4:00pm</ul>
      <ul>  Thursday: Noon-8:00pm </ul>
      <ul>  Friday: Noon-10:00pm</ul>
      <ul>  Saturday: Noon-10:00pm</ul>
      <ul>Sunday: Noon-5:00pm</ul>
    </ul>
    </center>
    </footer>
<!--end footer-->

      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
  </body>
</html>
