    html, body {
    margin: 0;
    padding: 0;
}


/* navigation header */

nav {
    background-color: rgb(83, 18, 17);
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

nav ul {
    list-style-type: none;
    align-items: center;
    font-size: 90%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav a {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

#logo-nav {
    width: 125px;
    padding: 1em;
}

.first-sentence {
    font-weight: 700;
    font-style: italic;
    font-size: 100%;
}


/* media queries */


@media screen and (min-width: 400px) {
    nav ul {
        display: flex;
        justify-content: space-around;
    }
    h3 {
        font-size: 40px;
        color: rgb(204, 187, 19);
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .main {
        width: 100%;
        opacity: 0.5;
        background-size: cover;
        height: auto;
        position: relative;
        padding-bottom: 5em;
    }
    .wine-tasting {
        background-size: cover;
        width: 100%;
        height: auto;
        position: relative;
        padding-bottom: 5em;
    }
    .vineyard-tour {
        background-size: cover;
        width: 100%;
        height: auto;
        position: relative;
        padding-bottom: 5em;
        padding-top: 5em;
    }
    p {
        width: 50%;
        margin: 0 auto;
        display: block;
        font-size: 12px;
        padding-bottom: 5em;
    }
    .wine-tasting-section {
        position: relative;
        width: 100%;
    }
    .vineyard-tour-section {
        position: relative;
        width: 100%;
    }
    .sectiontitle-1 {
        color: white;
        font-family: 'Roboto Slab', serif;
        position: absolute;
        font-size: 15px;
        top: 5%;
        left: 10px;
        width: 100%;
    }

    .hero-image {
        height: 100%;
        background-image: url(https://drive.google.com/drive/folders/0ByakSakQOxEqRElPT0MwR3hEcmc);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .hero-image__container {
        display: flex;
      align-items: center;
      justify-content: center;
        height: 100%;
    }

    .hero-image__text {
        z-index: 100;
        padding: 1em;
        color: white;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 1.25em;
        text-align: center;
    }



    footer {
        background-color: rgb(83, 18, 17);
        color: #CCB8A3;
        padding: 3px;
        height: 250px;
    }
}

@media screen and (min-width: 600px) {
    nav ul {
        display: flex;
        justify-content: space-around;
    }
    h3 {
        font-size: 40px;
        color: rgb(204, 187, 19);
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .main {
        width: 100%;
        opacity: 0.5;
        background-size: cover;
        height: auto;
        position: relative;
        padding-bottom: 5em;
    }
    p {
        width: 40%;
        margin: 0 auto;
        display: block;
        font-size: 20px;
        padding-bottom: 5em;
    }
    .wine-tasting {
        background-size: cover;
        width: 100%;
        height: auto;
        position: relative;
        padding-bottom: 5em;
    }
    .vineyard-tour {
        background-size: cover;
        width: 100%;
        height: auto;
        position: relative;
        padding-bottom: 5em;
        padding-top: 5em;
    }
    .wine-tasting-section {
        position: relative;
        width: 100%;
    }
    .vineyard-tour-section {
        position: relative;
        width: 100%;
    }
    .sectiontitle-1 {
        color: white;
        font-family: 'Roboto Slab', serif;
        position: absolute;
        font-size: 15px;
        top: 20px;
        left: 20px;
        width: 100%;
    }
    footer {
        background-color: rgb(83, 18, 17);
        color: #CCB8A3;
        padding: 3px;
        height: 250px;
    }
}

@media screen and (min-width: 800px) {
    p {
        width: 50%;
        margin: 0 auto;
        display: block;
        font-size: 20px;
        padding-bottom: 5em;
    }
    h1 {
        font-size: 4em;
        margin: 0 auto;
        display: block;
        text-align: center;
        line-height: 1em;
    }
    h2 {
        font-size: 4em;
        font-style: italic;
        margin: 0 auto;
        display: block;
        text-align: center;
        padding: 0 0 40px 0;
        width: 60%;
        line-height: 1em;
    }
    .main {
        width: 100%;
        opacity: 0.5;
        background-size: cover;
        height: auto;
        position: relative;
        padding-bottom: 5em;
    }
}

.wine-tasting {
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 5em;
}

.vineyard-tour {
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 5em;
    padding-top: 5em;
}

.wine-tasting-section {
    position: relative;
    width: 100%;
}

.vineyard-tour-section {
    position: relative;
    width: 100%;
}

.sectiontitle-1 {
    color: white;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    font-size: 22px;
    top: 80px;
    left: 100px;
    width: 100%;
}

footer {
    background-color: rgb(83, 18, 17);
    color: #CCB8A3;
    padding: 3px;
    height: 250px;
}

@media screen and (min-width: 1200px) {
    p {
        width: 40%;
        margin: 0 auto;
        display: block;
        font-size: 20px;
    }
    h3 {
        font-size: 60px;
        color: rgb(204, 187, 19);
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .main {
        width: 100%;
        opacity: 0.5;
        background-size: cover;
        height: auto;
        position: relative;
        padding-bottom: 5em;
    }
    img {
        margin: 0 auto;
    }
    .main {
        width: 100%;
        opacity: 0.5;
        background-size: cover;
        height: auto;
        position: relative;
        padding-bottom: 5em;
        z-index: -1;
    }
    .winetour {
        width: 100%;
        background-size: cover;
        height: auto;
        position: relative;
        padding-bottom: 5em;
        z-index: -1;
    }
    .tasting {
        width: 100%;
        background-size: cover;
        height: auto;
        position: relative;
        padding-bottom: 5em;
        z-index: -1;
    }
    .wine-tasting-section {
        position: relative;
        width: 100%;
    }
    .sectiontitle-1 {
        color: white;
        font-family: 'Roboto Slab', serif;
        position: absolute;
        font-size: 80px;
        top: 175px;
        left: 200px;
        width: 100%;
    }
    .vineyard-tour-section {
        position: relative;
        width: 100%;
    }
    .sectiontitle-2 {
        color: white;
        font-family: 'Roboto Slab', serif;
        position: absolute;
        font-size: 80px;
        top: 175px;
        left: 200px;
        width: 100%;
    }
    footer {
        background-color: rgb(83, 18, 17);
        color: #CCB8A3;
        padding: 3px;
        height: 250px;
    }
    .hours {
        padding: 0;
        margin: 0;
        width: 33%;
        display: inline-flex;
        align-content: space-between;
    }
    .contact {
        padding: 0;
        margin: 0;
        width: 33%;
        display: inline-flex;
        align-content: space-between;
    }
    .logo-footer {
        width: 33%;
        display: inline-block;
    }
    .logo-footer img {
        max-width: 100px;
        padding: 0;
        margin: 0;
    }
